html, body {
    margin: 0;
    height: 100%;
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #222222;
}

a {
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #222222;
    text-decoration: none;
}

.footer-link {
    color: #70757a;
}
.footer-link:hover {
    text-decoration: underline;
}

.nav-link:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-1, .footer-1  {
    float: left;
}

li a {
    display: block;
    padding: 10px;
    margin: 10px;
}

.nav-2, .footer-2 {
    float: right;
}

#apps {
    position: relative;
    color: #3f3f3f;
    bottom: 3px;
    margin-right: 0px;
}

#apps:hover {
    border: 0px solid #F2F2F2;
    border-radius: 40px;
    background-color: #F2F2F2;
}

#sign-in {
    background-color: #2B7DE9;
    border-radius: 3px;
    color: white;
    text-align: center;
    width: 72px;
}

#sign-in:hover {
    background-color: #3e8bf0;
}

main {
    max-height: 100%;
    width: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 120px;
    left: 100px;
}

img {
    max-height: 100%;
    width: auto;
}

#logo {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-box {
    display: flex;
    height: 35px;
    align-items: center;
    text-align: center;
    padding: 5px 15px 5px 15px;
    border: 1px solid #d4d4d4;
    border-radius: 30px;
    margin-bottom: 20px;
    width: 38em;
}

.input-box:hover {
    box-shadow: 0 1px 7px rgb(190, 190, 190);
}

.material-icons.grey { color: #9aa0a6; }
.material-icons.md-20 { font-size: 20px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

input {
    width: 90%;
    border: none;
    font-size: 16px;
    padding-left: 10px;
}

input:focus {
    outline: none;
}

#voice {
    position: relative;
    left: 10px;
}

.buttons {
    text-align: center;
}

button {
    font-family: arial, sans-serif;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #f8f9fa00;
    padding: 10px 15px 10px 15px;
    background-color: #F8F9FA;
    color: #4c4c4c
}

button:hover {
    color: #222222;
    border-color: #dfdfdf;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

button:active {
    border-color: #6098f5;
}

#submit {
    margin-right: 10px;
}

footer {
    display: flex;
    background-color: #F2F2F2;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#carbon {
    position: relative;
    right: 55px;
    top: 19px;
}

#carbon-img {
    height: 14px;
}
