html, body {
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #222222;
}

a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #222222;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-1, .footer-1  {
    float: left;
}

li a {
    display: block;
    padding: 8px;
}

.nav-2, .footer-2 {
    float: right;
}

#carbon {
    position: relative;
    right: 50px;

}

main {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 80px;
}

img {
    max-height: 100%;
    width: auto;
}

#logo {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    margin-bottom: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

