html, body {
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #222222;
}

a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #222222;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-1, .footer-1  {
    float: left;
}

li a {
    display: block;
    padding: 20px;
}

.nav-2, .footer-2 {
    float: right;
}

main {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 80px;
    left: 40px;
}

img {
    max-height: 100%;
    width: auto;
}

#logo {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    margin-bottom: 20px;
    width: 30em;
    height: 30px;
}

.buttons {
    text-align: center;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px;
}

#submit {
    margin-right: 10px;
}

footer {
    display: flex;
    background-color: rgb(204, 204, 204);
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#carbon {
    position: relative;
    right: 55px;
    top: 19px;
}
